{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}{{category}}{% endblock %}

{% block main %}

<div class="container">
    <h1 class="fw-bolder pt-4">{{category}}</h1>
    <p>{{category.description}}</p>

    <div class="content-top">
	<ul>
		{% for item in items %}
			<li class="box mt-3">
				<div class="slide-img">
					<img src="{{ item.image.url }}">
				</div>
				<div class="box-overlay">
					<a href="{% url 'add_to_cart' category_slug=item.category.slug item_slug=item.slug %}" class="buy-btn">Add to Card</a>
				</div>
				<div class="detail-box">
					<a class="item-title" href="{% url 'item_detail' category_slug=item.category.slug item_slug=item.slug %}" class="item-title">{{ item.title }}</a>
					<h1 class="item-price"><b>${{ item.price }}</b></h1>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
</div>

{% endblock %}
