{% extends 'layouts/base.html' %}

{% load static %}

{% block main %}

<div class="container-fluid p-0">
	<img src="{% static 'img/poster.webp' %}" alt="poster" width="100%" />
</div>

<div class="content-top">
	<h1 class="text-center"><b>Top sellers</b></h1>
	<ul>
		{% for item in items %}
			<li class="box mt-3">
				<div class="slide-img">
					<img src="{{ item.image.url }}">
				</div>
				<div class="box-overlay">
					<a href="{% url 'add_to_cart' category_slug=item.category.slug item_slug=item.slug %}" class="buy-btn">Add to Card</a>
				</div>
				<div class="detail-box">
					<a class="item-title" href="{% url 'item_detail' category_slug=item.category.slug item_slug=item.slug %}" class="item-title">{{ item.title }}</a>
					<h1 class="item-price"><b>${{ item.price }}</b></h1>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}