{% extends 'layouts/base.html' %}

{% load static %}

{% block main %}

<div class="container-fluid p-0">
	<img src="{% static 'img/poster.webp' %}" alt="poster" width="100%" />
</div>

<div class="container-md mt-5">
	<h1 class="text-center text-uppercase fw-bold">categories</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
        {% for category in categories %}
          <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><a class="link-dark" href="#">{{category}}</a></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

<div class="content-top mt-5">
	<h1 class="text-center text-uppercase fw-bold">featured products</h1>
	<ul class="mt-3">
		{% for item in items %}
			<li class="box mt-5">
				<div class="slide-img">
					<img src="{{ item.image.url }}">
				</div>
				<div class="box-overlay">
					<a href="{% url 'add_to_cart' category_slug=item.category.slug item_slug=item.slug %}" class="buy-btn">Add to Card</a>
				</div>
				<div class="detail-box">
					<a class="item-title" href="{{item.get_absolute_url}}" class="item-title">{{ item.title }}</a>
					<h1 class="item-price"><b>${{ item.price }}</b></h1>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}