<!-- Item details page -->
{% extends 'layouts/base.html' %}

{% load static %}
{% load mptt_tags %}
{% load specifications %}

{% block title %}{{ item.title }}{% endblock %}

{% block main %}
<!-- Categories path -->
<div class="container-fluid" style="background-color: #e7e7e7">
	<div class="container-md pt-2">
		<ul  class="list-inline fst-italic fw-bolder">
			<li class="list-inline-item m-0">
				<a href="{% url 'index' %}" class="text-dark text-decoration-none">Home</a>  >
			</li>
			{% for category in item.category.get_ancestors %}
				<li class="list-inline-item m-0">
					<a href="{% url 'items_category' category_slug=category.slug %}" class="text-dark text-decoration-none">{{category}}</a>  >
				</li>
			{% endfor %}
			<li class="list-inline-item">
				<a href="{% url 'items_category' category_slug=item.category.slug %}" class="text-decoration-none text-danger">{{item.category}}</a>
			</li>
		</ul>
	</div>
</div>

<!-- Item details -->
<div class="container-fluid pt-5">
	<div class="row">
		<div class="col">
			<div class="row">
				<img src="{{item.image.url}}" alt="item image" class="img-fluid" />
				<form class="d-flex justify-content-around">
					{{ csrf }}
					<a href="{% url 'add_to_cart' category_slug=item.category.slug item_slug=item.slug %}">
						<button type="button" class="btn btn-warning btn-lg text-white fw-bold">
							Add to Cart
						</button>
					</a>
					<button type="button" class="btn btn-warning btn-lg text-white fw-bold">Add to Wishlist</button>
				</form>
			</div>
		</div>
		<div class="col">
			<h4>{{item.title}}</h4>
			<hr/>
			{% if item.sku %}
				<p>SKU: {{item.sku}}</p>
			{% endif %}
			<h3 class="fw-bold">${{item.price}}</h3>
			<!-- Forms `Other details` for item. Filter placed in 'main/specifications.py' -->
			{{item|item_spec}}
		</div>
	</div>
</div>

<!-- Item description -->
<div class="container-fluid mt-3">
	<h3>Description:</h3>
	<p class="mt-3" style="font-size: 18px;">{{item.description}}</p>
	<p>{{item|item_features}}</p>
</div>
{% endblock %}
