{% extends 'layouts/base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <h1 class="fw-bold mt-5">Sign in</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="username" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong><b>{{ field.label }}:</b> {{ error }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong><b>{{ field.label }}:</b> {{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}