{% load static %}

<footer class="container-fluid bg-dark mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h5 class="text-center text-secondary mt-2">Categories</h5>
            <ul class="list-unstyled text-center">
                {% for category in categories %}
                    <li class="mt-1"><a href="{% url 'items_category' category_slug=category.slug %}" class="text-white fw-bolder text-decoration-none">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8 bg-success">Spam</div>
    </div>
</footer>