{% load static %}

<footer class="pt-4 pb-md-5 mt-5 pt-md-5 border-top bg-dark">
        <div class="row" style="width: 100%;">
          <div class="col-6 col-md ms-4">
            <h5 class="text-light fw-bold">Categories</h5>
            <ul class="list-unstyled text-small">
                {% for category in categories %}
                    <li>
                        <a class="text-muted" href="{{category.get_absolute_url}}">
                            {{category}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
          </div>
          <div class="col-6 col-md ms-3">
            <h5 class="text-light fw-bold">Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md ms-3">
            <h5 class="text-light fw-bold">About</h5>
            <ul class="list-unstyled text-small">
              <li class="text-light"><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
          <div class="col-12 col-md">
            <img class="mb-2" src="{% static 'img/brand_logo.svg' %}" alt="logo" width="24" height="24" style="width: 100%;">
            <small class="d-block mb-3 text-muted text-center">Django 3.1</small>
          </div>
        </div>
    <div class="row" style="width: 100%;">
        <p class="text-light text-center ps-6" style="padding: 50px;">
          <b class="text-warning">Notice: </b>
          This isn't a real website. You can't purchase products. The project was created for educational purposes. 
          A design idea, products information and images were taken from 
          <a href="https://www.airsoftstation.com/"> AirSoftStation</a>. This project on 
            <a href="https://github.com/welel/airsoft-shop-website">GitHub.</a>
        </p>
    </div>
</footer>