{% load static %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/brand_logo.svg' %}" alt="logo" width="35" height="35" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for category in categories %}
          <li class="nav-item">
            <a href="{{category.get_absolute_url}}" class="nav-link text-light"><b>{{category}}</b></a>
          </li>
        {% endfor %}
      </ul>
      <form class="d-flex" action="{% url 'search' %}" method="get">
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url 'customer_cart' %}" class="nav-link text-white fw-bolder">
            Cart
            <span class="badge rounded-pill bg-warning text-dark">{{cart.total_items}}</span>
          </a>
    {% if user.is_authenticated %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% with user=request.user %}
              {% firstof user.first_name user.last_name user.email %}
            {% endwith %}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'orders_list' %}">Orders</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_user' %}">Edit profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
    {% else %}
          </li>
          <li class="nav-item">
          <a href="{% url 'signin' %}" class="nav-link text-white fw-bolder">
            Sign In
          </a>
        </li>
          <li class="nav-item">
          <a href="{% url 'signup' %}" class="nav-link text-white fw-bolder">
            Sign Up
          </a>
        </li>
    {% endif %}
      </ul>
    </div>
  </div>
</nav>