.content-top {
    margin-top: 20px;
}
.content-top ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box {
    width: 320px;
    height: 400px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.slide-img {
    width: 300px;
    max-height: 170px;
}
.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box {
    padding: 5px;
    justify-content: space-around;
}
.item-title {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.item-price {
    margin-top: 10px;
}
.box-overlay {
    visibility: hidden;
    background-color: rgba(255, 200, 30, 0.9);
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
}
.buy-btn {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    background-color: white;
    color: rgb(255, 200, 30);
    border-radius: 7px;
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
}
.box:hover .box-overlay {
    visibility: visible;
}
.box:hover .item-title {
    position: relative;
    color: white;
}